*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: lightgray;
   
}
.main_container{
    background-color: rgb(99, 193, 129);
    height: auto;
    border: 1px solid transparent;
    padding-bottom: 50px;
  }
.main_container_taskbar {   
    position: sticky;
    top: 0;
    width: calc(100% - 30px);
    margin: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center; 

    background-color: rgb(110, 236, 236);
    border-radius: 15px;
    z-index: 1000;
   
      
}
.righttags{
    display: flex;
}   
.main_container_taskbar a{
    margin: 25px;
    text-decoration: none;
    color: black;
}
.main_container_taskbar a:hover{
    color: blue;
}
.circle{
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 2px solid black;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}
.about_container{
    height: auto;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(211, 115, 70);
    margin: 3px;
    align-items: center;
    
    
    
   
}
.framecontainer{
    width: auto;
    height: auto;
    background-color: rgb(51, 60, 78);
    flex-shrink:350px;
    margin: 30px;
}
.rectangleFrame{
    width: 400px;
    height: 490px;
    background-color: white;
    border: 2px solid black;
        margin-left: 100px;
        margin-top: 130px;
        margin-bottom: 130px;
        margin-right: 100px;
    transform: rotate(-6deg);
    
}
.imageFrame{
    width: auto;
    height: 340px;
    background-color: rgb(67, 127, 237);
    margin: 25px;
    border: 2px solid black;    
}
.imageFrame:hover{
    cursor: pointer;
}
.Signiture{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
}
.about_me_container{    
    flex: 1;
    background-color: rgb(74, 189, 251);
    
}
.about_me{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    background-color: rgb(55, 236, 82);
    padding: 30px;

}
/* @media (max-width:900px){
    .about_container{
        flex-direction: column;
    }
    } */

.Skills_container{
    height: auto;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(211, 115, 70);
    margin: 3px;
    align-items: center;
}
.cards{
    width: 350px;
    height: auto;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    margin: 25px;
    border-radius: 25px;
    border: 2px solid black; 
    align-items: center;   
}
.skill_image{
    width: auto;
    height: 350px;
    background-color: rgb(69, 125, 229);
}
.Skill_discription{
    background-color: rgb(126, 185, 178);
    text-align: center;
    padding: 5px;
    
}
/* .Skill_discription p{
    margin: 5px;
    display: none;
}
.cards:hover p{
    display: block;
} */
 .skill_discription_para{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
 }
 .cards:hover .skill_discription_para{
    max-height: 200px;    
    }









